.our-offering-parent {
  background: var(--background);
  position: relative;
  padding: 50px 0px 230px 0px;

  .leave {
    position: absolute;
    top: 8%;
    animation: leave 1s ease-in-out infinite alternate;
  }
  @keyframes leave {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-30px);
    }
  }

  .our-offering-cont {
    padding: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .content-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      .sec-indicator {
        color: var(--accent);
      }
      h2 {
        text-align: center;
        max-width: 26ch;
        font-weight: 600;
      }
      p {
        text-align: center;
        max-width: 75ch;
        color: var(--text);
      }
    }

    //------------------Slider Group----------------------//
    .slider-group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      height: 500px;

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */

        height: 100%;
        .img-boxs {
          width: 100%;
          height: 410px;
          border-radius: 60px 0px 60px 0px;
          position: relative;

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 60px 0px 60px 0px;
            background: rgba(0, 0, 0, 0.363);
          }
          .content-box {
            position: absolute;
            bottom: 10%;
            padding: 40px 40px 0px 40px;
            left: 0%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;

            .label {
              font-size: 18px;
              line-height: 18px;
              font-weight: 400;
              color: var(--white);
              background-color: var(--accent);
              padding: 5px 18px;
              border-radius: 15px 0 15px 0;
              margin-bottom: 15px;
              display: inline-block;
            }

            .heading {
              font-size: 26px;
              font-weight: 700;
              color: white;
              text-align: left;
            }

            .arrow {
              color: white;
              svg {
                font-size: 25px;
              }
            }
          }
        }
      }
      
    }
  }
}

.swiper-pagination-bullet {
  background: var(--accent);
  width: 20px;
  height: 20px;
}

@media (max-width: 576px) {
  .swiper-pagination-bullet {
    background: var(--accent);
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 576px) {
  .our-offering-parent {
    .our-offering-cont {
      padding: 30px 10px;
      .content-group {
        h2 {
          font-size: 26px;
        }
        p {
        }
      }
    }
  }
}
