.service-parent{
    .service-cont{

    padding: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .content-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      .sec-indicator {
        color: var(--accent);
      }
      h2 {
        text-align: center;
        max-width: 26ch;
        font-weight: 600;
      }
      p {
        text-align: center;
        max-width: 75ch;
        color: var(--text);
      }
    }
    }
}