.hero-parent {
  background: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)),
    url("../../assets/herobg1.png") no-repeat center center;
  // background:red;
  height: 100dvh;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 19, 0, 0.596);
  }
  .img-group-left {
    position: absolute;
    top: 50px;
    // left: -25px;
    width: 200px;
    height: 200px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    animation: floatY 3s ease-in-out infinite alternate;

    .left-img {
      width: 80%;
      height: 80%;
      object-fit: contain;
      margin-left: -25px;
      // opacity: 0.5;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      //   opacity: 0.5;
    }
    @keyframes floatY {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-30px);
      }
    }
  }
  .img-group-right {
    position: absolute;
    bottom: 5%;
    right: 0%;
    width: 200px;
    height: 500px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    animation: floatY 2s ease-in-out infinite alternate;

    .right-img {
      width: 50%;
      height: 30%;
      object-fit: contain;
    }
  }
  .social-icons {
    position: absolute;
    top: 50%;
    left: 0%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.158);
    padding: 20px 15px;
    border-radius: 0px 20px 20px 0px;
    gap: 20px;
    color: var(--white);
    a {
      background: rgba(0, 0, 0, 0.164);
      padding: 10px;
      border-radius: 50px;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--trans-q);
      &:hover {
        background: var(--white);
        color: var(--accent);
      }
    }
  }
  .hero-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start !important;
      justify-content: flex-start;

      h1 {
        font-size: 54px;
        font-weight: 600;
        color: var(--white);
        line-height: 100%;
        span {
          color: var(--accent);
        }
      }
      p {
        color: rgba(255, 255, 255, 0.534);
        font-size: 20px;
        max-width: 500px;
      }
      .icon {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        color: var(--white);

        svg {
          height: 40px;
          width: 40px;
        }
      }
    }
    .right {
      width: 50%;
      animation: rightbox 2s ease-in-out infinite alternate;
      display: flex;
      justify-content: end;
      img {
        width: 85%;
        height: 100%;
        object-fit: cover;
      }
      @keyframes rightbox {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(30px);
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .hero-parent {
    .hero-cont {
      .left {
        gap: 14px;
        .sec-indicator {
          font-size: 16px;
        }
        h1 {
          font-size: 34px;
          line-height: 120%;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .hero-parent {
    .social-icons {
      top: 75%;
    }
  }
}
@media only screen and (max-width: 750px) {
  .hero-parent {
    .img-group-left {
      display: none;
    }
    .img-group-right {
      display: none;
    }
    .hero-cont {
      flex-direction: column;
      .left {
        width: 100%;
        align-items: center !important;
        h1 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }

      .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .hero-parent {
    padding-top: 120px;
    height: auto;
    .hero-cont {
      .left {
        h1 {
          font-size: 26px;
        }
        .btn {
          font-size: 16px;
        }
        .icon {
          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
      .right {
        img {
          width: 70%;
        }
      }
    }
  }
}
