.work-parent {
  background: var(--background);
  .work-cont {
    padding: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--unit);
    .content-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      .sec-indicator {
        color: var(--accent);
      }
      h2 {
        text-align: center;
        max-width: 26ch;
        font-weight: 600;
      }
      p {
        text-align: center;
        max-width: 75ch;
        color: var(--text);
      }
    }

    .group-new {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;

      .left {
        height: auto;
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: relative;

        .section {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          gap: calc(var(--unit) / 2);
          position: relative;

          &:nth-child(1) {
            padding-right: 50px;
            .icon {
              top: -6%;
            }
          }
          &:nth-child(2) {
            padding-right: 80px;

            .icon {
              right: 2%;
            }
          }

          &:nth-child(3) {
            padding-right: 50px;

            .icon {
              top: 7%;
            }
          }

          .icon {
            border-radius: 50%;
            width: 50px;
            aspect-ratio: 1;
            background-color: var(--accent);
            display: flex;
            justify-content: center;
            align-items: center;
            right: -3%;
            top: 0;
            position: absolute;
            z-index: 1;

            svg {
              font-size: calc(var(--unit) * 1.5);
              color: var(--white);
            }
          }

          .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: calc(var(--unit) / 2);

            .heading {
              font-size: calc(var(--unit));
            }

            p {
              color: rgba(0, 0, 0, 0.445);
              text-align: end;
            }
          }
        }

        .line {
          height: 100%;

          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .middle {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 70%;
        }
      }

      .right {
        height: auto;
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        position: relative;

        .section {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: calc(var(--unit) / 2);
          position: relative;

          &:nth-child(1) {
            padding-left: 50px;
            .icon {
              top: -6%;
            }
          }
          &:nth-child(2) {
            padding-left: 80px;

            .icon {
              left: 2%;
            }
          }

          &:nth-child(3) {
            padding-left: 50px;

            .icon {
              top: 7%;
            }
          }

          .icon {
            border-radius: 50%;
            width: 50px;
            aspect-ratio: 1;
            background-color: var(--accent);
            display: flex;
            justify-content: center;
            align-items: center;
            left: -3%;
            top: 0;
            position: absolute;
            z-index: 1;

            svg {
              font-size: calc(var(--unit) * 1.5);
              color: var(--white);
            }
          }

          .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(var(--unit) / 2);

            .heading {
              font-size: calc(var(--unit));
            }

            p {
              color: rgba(0, 0, 0, 0.445);
              text-align: start;
            }
          }
        }

        .line {
          height: 100%;

          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .work-parent {
    .work-cont {
      .group-new {
        .left {
          .section {
            &:nth-child(2) {
              .icon {
                right: 4%;
              }
            }
          }
        }

        .middle {
          img {
            width: 100%;
          }
        }

        .right {
          .section {
            &:nth-child(2) {
              .icon {
                left: 4%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .work-parent {
    .work-cont {
      .group-new {
        .left {
          .section {
            &:nth-child(2) {
              .icon {
                right: 7%;
              }
            }
          }
        }

        .right {
          .section {
            &:nth-child(2) {
              .icon {
                left: 7%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .work-parent {
    .work-cont {
      .group-new {
        gap: var(--unit);
        .left {
          width: calc(100% / 2);
          .section {
            flex-direction: row-reverse;
            align-items: center;
            padding: 0 !important;

            .content {
              align-items: flex-start;

              p {
                text-align: start;
              }
            }
            .icon {
              position: static;
            }
          }

          .line {
            display: none;
          }
        }

        .middle {
          display: none;
        }

        .right {
          width: calc(100% / 2);
          .section {
            flex-direction: row-reverse;
            align-items: center;
            padding: 0 !important;
            .icon {
              position: static;
            }
          }

          .line {
            display: none;
          }
        }
      }
    }
  }
}
