.blog-detail-parent {
  height: auto;
 padding: 100px 0px;
  .blog-detail-cont {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit));
    max-width: 600px;

    span{
        color: var(--accent);
    }

    .page-top-parent {
      background: url("../../assets/page_top_img.jpg");
      height: 350px;
      width: 100%;
    }

    .date-cat{
      display: flex;
      justify-content: space-between;
    }

    .line {
      height: 2px;
      width: 100%;
      background: var(--accent);
    }

    h2 {
      font-weight: 600;
      font-size: 22px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.7px;
      word-spacing: 1px;
      color: rgba(0, 0, 0, 0.767);
    }
  }
}
