.header-parent {
  height: auto;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  // padding-top: 50px;
  z-index: 5;

  .header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10px;
    .logo {
      img {
        width: 100px;

        border-radius: 50%;
      }
    }
    .menu {
      display: flex;
      color: var(--white);
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .mobile_nav {
      display: none;
      position: relative;

      .nav_list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: auto;
        height: 0px;
        overflow: hidden;
        transition: var(--trans);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .link {
          padding: 8px 80px 8px 20px;
          width: 100%;

          &.active {
            background-color: var(--accent);
            color: var(--white);
          }

          &:hover {
            background-color: var(--accent);
            color: var(--white);
          }
        }

        &.active {
          height: 300px !important;
        }
      }

      .hamburger {
        display: flex;

        .hamburger-react {
          div {
            background-color: white !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .header-parent {
    .header-cont {
      .menu {
        display: none;
      }

      .btn {
        display: none;
      }

      .mobile_nav {
        display: flex;
      }
    }
  }
}
