.footer-parent {
  background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),
    url("../../assets/nature.webp");
  position: relative;

  .img-foot {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 250px;
    z-index: 2;
  }

  .footer-cont {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .top-footer {
      background: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px 100px;
      gap: 20px;
      border-radius: 60px 0px 60px 0px;
      position: absolute;
      box-shadow: var(--shadow);
      top: -50%;
      .sec-indicator {
        color: var(--accent);
      }
      .heading {
        font-family: "Playfair Display", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 52.8px;
        color: rgb(36, 36, 36);
      }
      .btn {
        font-family: Karla, sans-serif;
        font-size: 22px;
      }
    }
    .middel-footer {
      width: 100%;
      margin-top: 40px;
      padding: 10px 10px;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      .logo {
        width: calc(100% / 4);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
        }
      }
      .about {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
        h4 {
          color: var(--white);
          font-size: 26px;
        }
        p {
          color: rgba(255, 255, 255, 0.753);
          text-align: left;
        }
        .icon-group {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          .icon {
            display: flex;
            gap: 20px;
            color: rgba(255, 255, 255, 0.753);
            cursor: pointer;
            align-items: center;
            svg {
              font-size: 24px;
            }
            a {
              background: rgba(12, 0, 0, 0.747);
              padding: 10px;
              border-radius: 50px;
              width: 40px;
              height: 40px;
              align-items: center;
              display: flex;
              box-shadow: var(--shadow);
              transition: var(--trans);
              &:hover {
                background: var(--accent);
              }
            }
          }
        }
      }
      .list {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
        h4 {
          color: var(--white);
          font-size: 26px;
        }
        .link-list {
          display: flex;
          flex-direction: column;
          gap: 15px;
          color: rgba(255, 255, 255, 0.753);

          a {
            transition: var(--trans);
            font-size: 16px;
            &:hover {
              color: var(--accent);
            }
          }
        }
      }
      .contact {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;

        a {
          font-size: 16px;
        }
        h4 {
          color: var(--white);
          font-size: 26px;
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          svg {
            color: rgba(255, 255, 255, 0.753);
            font-size: 22px;
          }
          span {
            color: rgba(255, 255, 255, 0.753);
            font-size: 16px;

            cursor: pointer;
          }
        }
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.301);
    padding: 10px;
    p {
      color: rgba(255, 255, 255, 0.753);
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .footer-parent {
    .footer-cont {
      .middel-footer {
        // flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .logo {
          display: none;
        }
        .about {
          width: calc(100% / 3);
        }
        .list {
          width: calc(100% / 3);
        }
        .contact {
          width: calc(100% / 3);
          justify-content: start;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .footer-parent {
    .footer-cont {
      .middel-footer {
        flex-direction: column;
        .logo {
          display: none;
        }
        .about {
          width: 100%;
        }
        .list {
          width: 100%;
        }
        .contact {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .footer-parent {
    .footer-cont {
      padding: 40px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .top-footer {
        background: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 28px;
        gap: 10px;
        border-radius: 60px 0px 60px 0px;
        position: absolute;
        box-shadow: var(--shadow);
        top: -35%;
        .heading {
          font-family: "Playfair Display", sans-serif;
          font-size: 30px;
          font-weight: 700;
          line-height: 52.8px;
          color: rgb(36, 36, 36);
        }
      }
    }
  }
}

@media (max-width: 635px) {
  .footer-parent {
    .footer-cont {
      .top-footer {
        padding: 20px;
        gap: 10px;
        border-radius: 60px 0px 60px 0px;
        position: absolute;
        box-shadow: var(--shadow);
        top: -35%;
        .sec-indicator {
          font-size: 18px;
        }
        .heading {
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;
        }
        .btn {
          font-family: Karla, sans-serif;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .footer-parent {
    .footer-cont {
      .top-footer {
        display: none;
      }
    }
  }
}
